body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    width: 1200px;
    height: 850px;
    /* border: 2px solid blue; */
    margin: 5px auto;
}
.inside-first{
    float: left;
    width: 700px;
    height: 800px;
    margin: 20px 30px; 
    background-color: lavender;
    box-shadow: 10px 5px 5px grey;
}
.inside-first img{
    width: 700px;
}
.inside-first h2{
    font-size: 34px;
    margin-left: 20px;
}
.inside-first p{
    font-family: cursive;
    text-indent: 20px;
}
.inside-first button{
    width: 600px;
    height: 50px;
    margin-left: 30px;
    margin-top: 15px;
    text-decoration: none;
    background-color: darkgrey;
    
    border-radius: 5px;
}

.inside-first button a:hover{
    color: darkslategrey;
}
.inside-first button a{
    text-decoration: none;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.inside-second img{
    width: 350px;
}
.inside-second{
    width: 350px;
    height: 800px;
    margin: 5px;
    float: right;
    margin: 20px 40px;
    background-color: lavender;
    box-shadow: 10px 5px 5px grey;
}
.inside-second button a{
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.inside-second button{
    width: 300px;
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
    background-color: darkgrey;
}
.inside-second h2{
    font-size: 34px;
    margin-left: 20px;
}
.inside-second p{
    font-family: cursive;
    font-size: 18px;
    text-indent: 20px;
}
.multiple{
    width: 1200px;
    height: 600px;
    /* border: 2px solid blue; */
    margin: 5px auto;
}
.multiple .mini1{
    width: 300px;
    height: 580px;
    float: left;
    margin-left: 30px;
    box-shadow: 10px 5px 5px grey;
    background-color: lavender;

}
.multiple .mini1 h2{
    text-align: center;
}
.multiple .mini1 p{
    font-size: 15px;
    font-family: cursive;
    text-indent: 20px;
}
.multiple .mini2 h2{
    text-align: center;
}
.multiple .mini2{
    width: 300px;
    height: 580px;
    float: left;
    margin-left: 120px;
    box-shadow: 10px 5px 5px grey;
    background-color: lavender;

}
.multiple .mini2 p{
    font-size: 15px;
    text-indent: 20px;
    font-family: cursive;
}
.multiple .mini3 h2{
    text-transform: uppercase;
    text-align: center;
}
.multiple .mini3{
    width: 300px;
    height: 580px;
    float: right;
    margin-right: 40px;
    box-shadow: 10px 5px 5px grey;
    background-color: lavender;

}
.multiple .mini3 p{
    font-size: 15px;
    font-family: cursive;
    text-indent: 20px;
}

.multiple img{
    width: 300px;
    height: 200px;
}
.multiple button{
    width: 200px;
    height: 35px;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
    background-color: darkgrey;
    border-radius: 10px;
    
}
.multiple button:focus{
    outline: none;
}

.multiple button a{
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
