body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
    background-color: rgb(255, 147, 59);
    border: 10px solid rgb(90, 90, 90);
    width: 1200px;
    height: 750px;
    margin: 20px auto;
}
.container h2{
    text-align: center;
    font-size: 38px;
    margin: 0;
}
header{
    background-color: rgb(226, 226, 226);
    width: 1118px;
    margin: 10px auto;
    border: 10px solid rgb(90, 90, 90);
    height: 150px;
}
header h2{
    font-size: 32px;
    margin: 0;
 
}
nav{
    border: 10px solid rgb(121, 121, 121);
    width: 1000px;
    margin: 15px auto;
    height: 55px;
}
nav h2{
    font-size: 24px;
}
.wrapper{
    width: 1118px;
    height: 400px;
    border: 10px solid rgb(90, 90, 90);
    margin: 10px auto;
    background-color: rgb(226, 226, 226);
    
}
.wrapper h2{
    text-align: center;
    font-size: 38px;
}
.wrapper .content{
    width: 450px;
    height: 300px;
    border: 10px solid rgb(121, 121, 121);
    float: left;
    margin-left: 65px;
    margin-top: 15px;
   
}
.wrapper .content h2{
    font-size: 32px;
    margin-top: 0;
}
.wrapper .content .sub1 {
    border: 2px solid grey;
    width: 400px;
    margin: 5px auto;
}
.wrapper .content .sub1 h2{
    font-size: 28px;
}
.wrapper .content .sub2{
    border: 2px solid grey;
    width: 400px;
    margin: 5px auto;
}
.wrapper .content .sub2 h2{
    font-size: 28px;
 
}

.wrapper .sidebar{
    width: 450px;
    height: 300px;
    border:10px solid rgb(121, 121, 121);
    float: right;
    margin-right: 65px;
    margin-top: 15px;
   
}
.wrapper .sidebar h2{
    font-size: 32px;
    margin-top: 0;
}
.footer{
    background-color: rgb(226, 226, 226);
    width: 1118px;
    margin: 10px auto;
    border: 10px solid rgb(90, 90, 90);
    height: 50px;
}
.footer h2{
    text-align: center;
    margin: 0;
    font-size: 38px;
}
