body{
    margin: 0;
    padding: 0;
}
h1{
    margin-left: 150px
}
.container{
    width: 1200px;
    height: 700px;
    background-color: rgb(241, 241, 198);
   margin: 5px auto;
    position: relative;
}
.block1{
    width: 400px;
    height: 200px;
    /* border: 2px solid black; */
    background-color: rgb(241, 69, 26);
    color: white;
    position: absolute;
}
.block2{
    width: 400px;
    height: 200px;
    /* border: 2px solid rgb(224, 18, 87); */
    background-color: rgb(144, 218, 74);
    color: white;
    position: absolute;
    display: flex;
    margin-left: 100px;
    margin-top: 120px;
}
.block3{
    width: 400px;
    height: 200px;
    /* border: 2px solid rgb(187, 252, 8); */
    background-color: rgb(66, 145, 209);
    color: white;
    position: absolute;
    margin-left: 280px;
    margin-top: 50px;
}
h2{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 46px;
}