@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: #7e0404;
    line-height: 1.6;
}
#showcase{
    background-image: url('https://images.pexels.com/photos/4078037/pexels-photo-4078037.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;

}
#showcase h1{
    font-size: 50px;
    line-height: 1.2;
    text-shadow: 2px 4px white;
}
#showcase p{
    font-size: 20px;
    text-shadow: 2px 2px white;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #7e0404;
    border: 1px solid #926239;
    padding:  10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-shadow: 1px 1px white;
}
#showcase .button:hover{
    background:#857070;
    color: white;
    text-shadow: 1px 1px #7e0404;
}
#section-a{
    padding: 20px;
    background:#857070;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#section-b{
    padding: 20px;
    background:lightgray;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#section-c{
    display: flex;
}
#section-c div{
    padding: 20px;
}
#section-c .box1, #section-c .box3{
    background:#857070;
    color: white;
    font-family: 'Oswald', sans-serif;
}
#section-c .box2{
    background: #f9f9f9;
    font-family: 'Oswald', sans-serif;
}