body{
    margin: 0;
    padding:0;
}
.container{
    width: 40%;
    margin: auto;
    border: 2px solid rgb(150, 150, 150);
    height: 90vh;
    margin-top: 20px;
}
.content{
   background-image: url(https://rafaelpizzo.com/wp-content/uploads/2018/05/subslider_01_desktop.jpg);
   background-position: center;
   background-size: cover;
   height: 75%;
   filter: blur(8px); 
   -webkit-filter: blur(8px);  
  
}
.btn{
    position: absolute;
    left: 42%;
    top: 40%;
    width: 50%;
}
button{
    background-color: transparent;
    padding: 10px;
    z-index: 1;
    color: white;
    border: 3px solid #f1f1f1;
    font-weight: bold;
    font-size: 20px;
    width: 30%;
    font-family: monospace;
}
.text{
    margin: 10px;
}
.text p{
    margin: 0;
    color: grey;
    font-size: 20px;
    font-family: monospace;
}
.text h1{
    margin: 0;
    margin-top: 20px;
    font-family: monospace;
}
.info{
    margin-top: 30px;
}
#friends{
    float: left;
    font-size: 20px;
    color: grey;
    margin-left: 10px;
    font-family: monospace;
}
#joined{
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: grey;
    font-family: monospace;
}
.clr{
    clear: both;
}
