body{
    margin: 0;
    padding: 0;
    background-color: rgb(167, 209, 233);

}
.paragrah1{
    
    height: 200px;
    margin: 0;
}
.paragrah1 .first_p{
    margin: 0;
    background-color: white;
    border: 2px solid red;
    font-size: 18px;
}
.paragrah1 .second_p{
    background-color: white;
    border: 3px solid red;
    font-size: 18px;
    margin: 40px;
}
.paragrah2{
    display: block;
    padding: 25px;
    background-color: white;
}
.paragrah2 p{
    
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

.header2{
    background-color: rgb(167, 209, 233);
    width: auto;
    height: 300px;
    padding: 15px;

}
.header2 .header2_p{
    margin: 40px;
    background-color: white;
    font-size: 18px;
    padding: 25px;

}
.header2 .header_p{
    background-color: white;
    border: 15px solid red;
    font-size: 18px;
    padding: 25px;
}
.content{
    background-color: rgb(167, 209, 233);
    width: auto;
    height: auto;
    margin-top: 2px;
}
header{
    background-color: rgb(235, 113, 13);
    height: 200px;
}
header img{
    border: solid 5px #fff;
    border-radius: 30px;
    width: 150px;
}
header h1{
    color: white;
    margin-left: 30px;
    font-size: 40px;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    
}
ul li{
    padding: 10px;
    color: white;
    background-color: rgb(235, 113, 13);
    margin: 5px;
    width: 200px;
    font-size: 20px;
    border-radius: 15px;
}
ul li:hover{
    background-color: rgb(39, 94, 69);
}
ul li a{
    text-decoration: none;
    color: white;
}
ol{
    background-color: rgba(88, 88, 88, 0.527);
}
ol li{
    font-size: 20px;
}
footer{
    margin: 20px 30px 10px 30px;
    padding: 30px;
    border: 5px solid rgb(235, 113, 13);
    background-color: rgb(47, 107, 104);
    color: white;
    font-size: 20px;
    text-align: center;
}